Repository 2021-Algorithm/algorithms_site, pull requests merged in 2021-07, with the labels that each got.

#4 [Tree]프로그래머스 1단계 1주차-1
  tree/.gitignore
  tree/src/level1_0715/AddPlusMinus.java
  tree/src/level1_0715/CraneGame.java
  tree/src/level1_0715/DotProduct.java
  tree/src/level1_0715/NewIdRecommendation.java
  tree/src/level1_0715/NumberOfKth.java
  tree/src/level1_0715/SelectAllRecord.sql
  tree/src/level1_0719/Keypad.java
  tree/src/level1_0719/LottoMaxMin.java
  tree/src/level1_0719/MakePrime.java
  tree/src/level1_0719/NamelessAnimal.sql
  tree/src/level1_0719/NotCompletionPlayer.java
  tree/src/level1_0719/WordWithNumberAndEnglish.java
Labels: Tree

#8 [Tree] 프로그래머스 1단계 2주차 -1
  tree/.gitignore
  tree/out/production/tree/level1_0715/SelectAllRecord.sql
  tree/out/production/tree/level1_0719/NamelessAnimal.sql
  tree/src/level1_0719_/Keypad.java
  tree/src/level1_0719_/LottoMaxMin.java
  tree/src/level1_0719_/MakePrime.java
  tree/src/level1_0719_/NamelessAnimal.sql
  tree/src/level1_0719_/NotCompletionPlayer.java
  tree/src/level1_0719_/WordWithNumberAndEnglish.java
Labels: Tree

#6 [Robin] 프로그래머스 1단계 2주차 -1
  robin/java/src/level1/study2/LottosRanking.java
  robin/java/src/level1/study2/NumberAndString.java
  robin/java/src/level1/study2/PlayerNotCompleteRace.java
  robin/java/src/level1/study2/PressKeypad.java
  robin/python/level1/study2/lottos_ranking.py
  robin/python/level1/study2/make_prime_number.py
  robin/python/level1/study2/number_and_string.py
  robin/python/level1/study2/player_ not_complete_race.py
  robin/python/level1/study2/press_keypad.py
  robin/sql/level1/name_is_null_animal.sql
Labels: ROBIN

#7 [Bongf] 프로그래머스 1단계 2주차 -1
  bongf/hightest_lowest_lotto_ranking.py
  bongf/keypad.py
  bongf/make_prime_number.py
  bongf/no_name_animal.sql
  bongf/non_finish_player.py
  bongf/number_string_word.py
Labels: Bongf

#14 [BONGF/Java] 프로그래머스 1단계 2주차-2
  bongf/README.md
  bongf/id_recommendation.py
  bongf/java/.idea/.gitignore
  bongf/java/.idea/.name
  bongf/java/.idea/misc.xml
  bongf/java/.idea/modules.xml
  bongf/java/.idea/uiDesigner.xml
  bongf/java/.idea/vcs.xml
  bongf/java/out/production/programmers_1/level1/Budget.class
  bongf/java/out/production/programmers_1/level1/ClawCrane.class
  bongf/java/out/production/programmers_1/level1/GymClothes.class
  bongf/java/out/production/programmers_1/level1/Id_Recommendation.class
  bongf/java/out/production/programmers_1/level1/InnerProduct.class
  bongf/java/out/production/programmers_1/level1/K.class
  bongf/java/out/production/programmers_1/level1/MockTest.class
  bongf/java/out/production/programmers_1/level1/Phoneketmon.class
  bongf/java/out/production/programmers_1/level1/SumPlusMinus.class
  bongf/java/out/production/programmers_1/level1/practice.class
  bongf/java/programmers_1.iml
  bongf/java/src/level1/Budget.java
  bongf/java/src/level1/ClawCrane.java
  bongf/java/src/level1/GymClothes.java
  bongf/java/src/level1/Id_Recommendation.java
  bongf/java/src/level1/InnerProduct.java
  bongf/java/src/level1/K.java
  bongf/java/src/level1/MockTest.java
  bongf/java/src/level1/Phoneketmon.java
  bongf/java/src/level1/SumPlusMinus.java
  bongf/java/src/level1/practice.java
Labels: Bongf

#13 [BONGF/Python] 프로그래머스 1단계 2주차-2
  python/README.md
  python/level1/budget.py
  python/level1/claw_crane.py
  python/level1/find_max.sql
  python/level1/gym_clothes.py
  python/level1/hightest_lowest_lotto_ranking.py
  python/level1/id_recommendation.py
  python/level1/inner_product.py
  python/level1/k.py
  python/level1/keypad.py
  python/level1/make_prime_number.py
  python/level1/mock_test.py
  python/level1/no_name_animal.sql
  python/level1/non_finish_player.py
  python/level1/number_string_word.py
  python/level1/phoneketmon.py
  python/level1/practice.py
  python/level1/record_search.sql
  python/level1/sum_plus_minus.py
  python/level1/yes_name_animal.sql
Labels: Bongf

#12 [ROBIN] 프로그래머스 1단계 2주차-2
  robin/java/src/level1/study3/Budget.java
  robin/java/src/level1/study3/MockTest.java
  robin/java/src/level1/study3/PocketMon.java
  robin/python/level1/study3/budget.py
  robin/python/level1/study3/gym_suit.py
  robin/python/level1/study3/mock_test.py
  robin/python/level1/study3/pocketmon.py
  robin/sql/level1/get_max_value.sql
  robin/sql/level1/name_is_not_null_animal.sql
Labels: ROBIN

#11 [Tree] 프로그래머스 1단계 2주차 -2
  tree/src/level1_0722/AnimalIdWhichHasName.sql
  tree/src/level1_0722/Budget.java
  tree/src/level1_0722/Gymsuit.java
  tree/src/level1_0722/LatestAnimal.sql
  tree/src/level1_0722/MockExam.java
  tree/src/level1_0722/Phonekemon.java
Labels: Tree

#15 [Bongf/JAVA] 프로그래머스 1단계 3주차 -1
  bongf/java/out/production/programmers_1/level1/MockTest.class
  bongf/java/out/production/programmers_1/level1/NumOfFactorsAndSum.class
  bongf/java/out/production/programmers_1/level1/ReverseTernary.class
  bongf/java/out/production/programmers_1/level1/SumSelectedNums.class
  bongf/java/out/production/programmers_1/level1/Year2016.class
  bongf/java/src/level1/NumOfFactorsAndSum.java
  bongf/java/src/level1/ReverseTernary.java
  bongf/java/src/level1/SumSelectedNums.java
  bongf/java/src/level1/Year2016.java
Labels: Bongf

#16 [Bongf/Python] 프로그래머스 1단계 3주차 - 1
  bongf/python/README.md
  bongf/python/level1/2016.py
  bongf/python/level1/budget.py
  bongf/python/level1/claw_crane.py
  bongf/python/level1/find_max.sql
  bongf/python/level1/find_sick_animal.sql
  bongf/python/level1/gym_clothes.py
  bongf/python/level1/hightest_lowest_lotto_ranking.py
  bongf/python/level1/id_recommendation.py
  bongf/python/level1/inner_product.py
  bongf/python/level1/k.py
  bongf/python/level1/keypad.py
  bongf/python/level1/make_prime_number.py
  bongf/python/level1/mock_test.py
  bongf/python/level1/no_name_animal.sql
  bongf/python/level1/non_finish_player.py
  bongf/python/level1/num_factors_addition.py
  bongf/python/level1/number_string_word.py
  bongf/python/level1/phoneketmon.py
  bongf/python/level1/record_search.sql
  bongf/python/level1/reverse_sort.sql
  bongf/python/level1/reverse_ternary.py
  bongf/python/level1/sum_plus_minus.py
  bongf/python/level1/sum_selected_nums.py
  bongf/python/level1/yes_name_animal.sql
  python/level1/practice.py
Labels: Bongf

#17 [Robin] 프로그래머스 1단계 3주차-1
  robin/java/src/level1/study4/CountSumDivisor.java
  robin/java/src/level1/study4/FlipTernary.java
  robin/java/src/level1/study4/TwoSum.java
  robin/java/src/level1/study4/YEAR2016.java
  robin/python/level1/study3/gym_suit.py
  robin/python/level1/study3/mock_test.py
  robin/python/level1/study4/2016_year.py
  robin/python/level1/study4/count_sum_divisor.py
  robin/python/level1/study4/flip_ternary.py
  robin/python/level1/study4/two_sum.py
  robin/sql/level1/order_by_desc.sql
  robin/sql/level1/select_sick_animal.sql
Labels: ROBIN

#22 [Bongf/Java] 프로그래머스 1단계 3주차 -2
  bongf/java/out/production/programmers_1/level1/BasicString.class
  bongf/java/out/production/programmers_1/level1/CountPY.class
  bongf/java/out/production/programmers_1/level1/FindMrKim.class
  bongf/java/out/production/programmers_1/level1/StringDesc.class
  bongf/java/out/production/programmers_1/level1/SumTwoIntegers.class
  bongf/java/src/level1/BasicString.java
  bongf/java/src/level1/CountPY.java
  bongf/java/src/level1/FindMrKim.java
  bongf/java/src/level1/StringDesc.java
  bongf/java/src/level1/SumTwoIntegers.java
Labels: Bongf

#21 [Bongf/Python and sql] 프로그래머스 1단계 3주차 -2
  bongf/python/level1/basic_string.py
  bongf/python/level1/count_p_y_in_string.py
  bongf/python/level1/find_mr_kim.py
  bongf/python/level1/string_desc.py
  bongf/python/level1/sum_two_integers.py
  bongf/sql/level1/find_sick_animal.sql
  bongf/sql/level1/no_name_animal.sql
  bongf/sql/level1/record_search.sql
  bongf/sql/level1/reverse_sort.sql
  bongf/sql/level1/top_n_records.sql
  bongf/sql/level1/yes_name_animal.sql
Labels: Bongf

#20 [Robin] 프로그래머스 1단계 3주차 -2
  robin/java/src/level1/study5/CountPY.java
  robin/java/src/level1/study5/DescString.java
  robin/java/src/level1/study5/FindMrKim.java
  robin/java/src/level1/study5/StringBasic.java
  robin/java/src/level1/study5/SumBetweenTwoNums.java
  robin/python/level1/study5/count_p_y.py
  robin/python/level1/study5/desc_string.py
  robin/python/level1/study5/find_mr_kim.py
  robin/python/level1/study5/string_basic.py
  robin/python/level1/study5/sum_between_two_nums.py
  robin/sql/level1/top_n.sql
Labels: ROBIN
