Repository 2021-Algorithm/algorithms_site, pull requests merged in 2021-08, with the labels that each got.

#24 [Robin] 프로그래머스 1단계 4주차 -2
  robin/python/level1/study7/caesar_cipher.py
  robin/python/level1/study7/convert_int.py
  robin/python/level1/study7/middle_char.py
  robin/python/level1/study7/search_prime_num.py
  robin/python/level1/study7/watermelon.py
  robin/sql/level1/id_and_name_animal.sql
Labels: ROBIN

#23 [Robin] 프로그래머스 1단계 4주차 -1
  robin/java/src/level1/study6/HateSameNum.java
  robin/java/src/level1/study6/RemainZero.java
  robin/java/src/level1/study6/SecretMap.java
  robin/java/src/level1/study6/SortString.java
  robin/python/level1/study6/dart_game.py
  robin/python/level1/study6/hate_same_num.py
  robin/python/level1/study6/remain_zero.py
  robin/python/level1/study6/secret_map.py
  robin/python/level1/study6/sort_string.py
  robin/sql/level1/multiple_sort.sql
Labels: ROBIN

#25 [Bongf/Python and sql] 프로그래머스 1단계 4주차
  bongf/python/level1/caesar_cipher.py
  bongf/python/level1/darts.game.py
  bongf/python/level1/divisible_num_array.py
  bongf/python/level1/dont_like_same_num.py
  bongf/python/level1/get_prime_number.py
  bongf/python/level1/import_the_middle_character.py
  bongf/python/level1/secret_map.py
  bongf/python/level1/soo_bak_soo_bak_soo.py
  bongf/python/level1/sort_string_suit_myself.py
  bongf/python/level1/string_to_int.py
  bongf/sql/level1/animal_id_name.sql
  bongf/sql/level1/find_max.sql
  bongf/sql/level1/sort_by_multiple_criteria.sql
Labels: Bongf

#26 [Bongf/Java] 프로그래머스 1단계 4주차
  bongf/java/.gitignore
  bongf/java/out/production/programmers_1/level1/DivisibleNumArray.class
  bongf/java/out/production/programmers_1/level1/DontLikeSameNum.class
  bongf/java/out/production/programmers_1/level1/SortStringSuitMyself$1.class
  bongf/java/out/production/programmers_1/level1/SortStringSuitMyself.class
  bongf/java/src/level1/CaesarCipher.java
  bongf/java/src/level1/DartGame.java
  bongf/java/src/level1/DivisibleNumArray.java
  bongf/java/src/level1/DontLikeSameNum.java
  bongf/java/src/level1/GetPrimeNumber.java
  bongf/java/src/level1/ImportMiddleCha.java
  bongf/java/src/level1/SecretMap.java
  bongf/java/src/level1/SoobakSoobakSoo.java
  bongf/java/src/level1/SortStringSuitMyself.java
  bongf/java/src/level1/StringToInt.java
Labels: Bongf

#19 [Tree]프로그래머스 1단계 3주차-2
  tree/out/production/tree/level1_0719_/NamelessAnimal.sql
  tree/out/production/tree/level1_0722/AnimalIdWhichHasName.sql
  tree/out/production/tree/level1_0722/LatestAnimal.sql
  tree/out/production/tree/lever1_0726/ReverseOrderAnimal.sql
  tree/out/production/tree/lever1_0726/SickAnimal.sql
  tree/src/level1_0719_/Combination.java
  tree/src/level1_0722/Budget.java
  tree/src/level1_0729/AscRecord.sql
  tree/src/level1_0729/BasicProcessString.java
  tree/src/level1_0729/CountPY.java
  tree/src/level1_0729/FindMrKim.java
  tree/src/level1_0729/OrderingDesc.java
  tree/src/level1_0729/SumOfTwoInteger.java
Labels: Tree

#28 [Bongf/Python and sql] 프로그래머스 1단계 5주차 -1
  bongf/python/level1/add_matrix.py
  bongf/python/level1/get_average.py
  bongf/python/level1/harshad_number.py
  bongf/python/level1/hide_cellphone_number.py
  bongf/python/level1/rectangular_start.py
  bongf/python/level1/x_interval_n_number.py
Labels: Bongf

#27 [Bongf/Java] 프로그래머스 1단계 5주차 -1
  bongf/java/src/level1/AddMatrix.java
  bongf/java/src/level1/GetAverage.java
  bongf/java/src/level1/HarshadNumber.java
  bongf/java/src/level1/HideCellPhoneNumber.java
  bongf/java/src/level1/RectangularStar.java
  bongf/java/src/level1/XIntervalNNumber.java
Labels: Bongf

#35 [Bongf /Java] 프로그래머스 1단계 5주차 -2
  bongf/java/src/level1/AddPlaceValues.java
  bongf/java/src/level1/CalculateShortfall.java
  bongf/java/src/level1/CollatzConjecture.java
  bongf/java/src/level1/CreateStrangeString.java
  bongf/java/src/level1/EvenAndOdd.java
  bongf/java/src/level1/GCDLCM.java
  bongf/java/src/level1/IntRootDetermination.java
  bongf/java/src/level1/RemoveTheSmallestNum.java
  bongf/java/src/level1/ReverseIntToArray.java
  bongf/java/src/level1/SortIntPlaceValueDesc.java
  bongf/java/src/level1/SumOfDivisor.java
Labels: Bongf

#34 [Bongf /Python and sql] 프로그래머스 1단계 5주차 -2
  bongf/python/level1/add_place_values.py
  bongf/python/level1/calculate_shortfall.py
  bongf/python/level1/collatz_conjecture.py
  bongf/python/level1/create_strange_string.py
  bongf/python/level1/even_and_odd.py
  bongf/python/level1/gcd_lcm.py
  bongf/python/level1/int_root_determination.py
  bongf/python/level1/remove_the_samllest_number.py
  bongf/python/level1/reverse_int_to_array.py
  bongf/python/level1/sort_int_place_value_desc.py
  bongf/python/level1/sum_of_divisor.py
  bongf/sql/level1/find_young_animal.sql
Labels: Bongf

#33 [Tree] 프로그래머스 1단계 5주차 -2
  tree/src/level1_0812/AddSplitNumber.java
  tree/src/level1_0812/CollatzConjecture.java
  tree/src/level1_0812/DeleteSmallestNumber.java
  tree/src/level1_0812/FirstWeek.java
  tree/src/level1_0812/GreatestCommonDivisorAndLeastCommonMultiple.java
  tree/src/level1_0812/IntegerOrderByDesc.java
  tree/src/level1_0812/MakeArrayByReverseNaturalNumber.java
  tree/src/level1_0812/MakeStrangeString.java
  tree/src/level1_0812/OddAndEven.java
  tree/src/level1_0812/SumOfDivisor.java
  tree/src/level1_0812/VerifySquareRoot.java
  tree/src/level1_0812/YoungestAnimal.sql
Labels: Tree

#32 [Robin] 프로그래머스 1단계 5주차 -2
  robin/java/src/level1/study9/CollatzConjecture.java
  robin/java/src/level1/study9/CreateStrangeChar.java
  robin/java/src/level1/study9/DescInteger.java
  robin/java/src/level1/study9/EvenAndOdd.java
  robin/java/src/level1/study9/GcdLcm.java
  robin/java/src/level1/study9/GetSprt.java
  robin/java/src/level1/study9/ReverseNum.java
  robin/java/src/level1/study9/SumDivisor.java
  robin/java/src/level1/study9/SumNumIdx.java
  robin/java/src/level1/study9/TheSmallestNum.java
  robin/java/src/level1/study9/WeekOne.java
  robin/python/level1/study9/collatz_conjecture.py
  robin/python/level1/study9/create_strange_char.py
  robin/python/level1/study9/desc_integer.py
  robin/python/level1/study9/even_and_odd.py
  robin/python/level1/study9/gcd_lcm.py
  robin/python/level1/study9/get_sqrt.py
  robin/python/level1/study9/reverse_num.py
  robin/python/level1/study9/sum_divisor.py
  robin/python/level1/study9/sum_num_idx.py
  robin/python/level1/study9/the_smallest_num.py
  robin/python/level1/study9/week_one.py
  robin/sql/level1/find_young_animals.sql
Labels: ROBIN

#38 [Robin] 프로그래머스 1,2 단계 6주차 -1
  robin/python/level1/study10/failure.py
  robin/python/level2/study1/more_spice.py
  robin/python/level2/study1/normal_square.py
  robin/python/level2/study1/target_number.py
Labels: ROBIN

#39 [Bongf ] 프로그래머스 2단계 6주차 -2
  bongf/java/src/level2/Camouflage.java
  bongf/java/src/level2/JadenCase.java
  bongf/java/src/level2/MatrixMultiplication.java
  bongf/java/src/level2/NLcd.java
  bongf/java/src/level2/PhoneNumberList.java
  bongf/python/level2/camouflage.py
  bongf/python/level2/jaden_case.py
  bongf/python/level2/matrix_multiplication.py
  bongf/python/level2/n_lcd.py
  bongf/python/level2/phone_number_list.py
Labels: Bongf

#42 [Robin] 프로그래머스 2단계 7주차 -1
  robin/java/src/level2/study3/FibonacciNumbers.java
  robin/java/src/level2/study3/GetMinSum.java
  robin/python/level2/study3/fibonacci_numbers.py
  robin/python/level2/study3/functional_development.py
  robin/python/level2/study3/get_min_sum.py
  robin/python/level2/study3/printer.py
Labels: ROBIN

#43 [Bongf] 프로그래머스 2단계 7주차 -1
  bongf/java/src/level2/FibonacciNumbers.java
  bongf/java/src/level2/FunctionDevelopment.java
  bongf/java/src/level2/GetMinSum.java
  bongf/java/src/level2/Printers.java
  bongf/python/level2/fibonacci_numbers.py
  bongf/python/level2/function_development.py
  bongf/python/level2/get_min_sum.py
  bongf/python/level2/printers.py
Labels: Bongf

#45 [Robin] 프로그래머스 2단계 7주차 -1
  robin/java/src/level2/study4/HIndex.java
  robin/java/src/level2/study4/MaximumAndMinimum.java
  robin/java/src/level2/study4/TheLargestNum.java
  robin/python/level2/study4/h_index.py
  robin/python/level2/study4/maximum_and_minimum.py
  robin/python/level2/study4/the_largest_num.py
Labels: ROBIN

#46 [Bongf] 프로그래머스 2단계 8주차 - 1
  bongf/java/src/level2/BiggestNumber.java
  bongf/java/src/level2/HIndex.java
  bongf/java/src/level2/MaxMin.java
  bongf/python/level2/biggest_number.py
  bongf/python/level2/h_index.py
  bongf/python/level2/max_min.py
Labels: Bongf
